* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}
body {
  background: url("./assets/background.jpg") no-repeat center center fixed;
}
h1 {
  color: black;
  margin-bottom: 60px;
}

/* .aze{
    margin-top: 40px;
}  */

.bodycenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2px;
  text-align: center;
  margin-top: 60px;
  float: none;
  margin-left: auto;
  margin-right: auto;
  gap: 60px;
}
#email_address {
  color: white;
  font-size: 20px;
  margin-left: 0;
}
#email {
  border-radius: 13px;
  width: 200px;
  height: 26px;
  border: none;
  margin-top: 5px;
  padding-left: 13px;
  font-size: 14px;
  margin-left: 0;
}
#btn {
  border-radius: 10px;
  width: 76px;
  height: 25px;
  background: #fff;
  border: #f00 groove 2px;
  margin-left: 0;
  margin-top: 10px;
}
.ax {
  color: white;
  font-size: 50px;
}
.se {
  color: white;
}
.aj {
  color: white;
  font-size: 25px;
}
.ja {
  border: none;
}
.ba {
  display: block;
}
.zc {
  color: white;
  font-size: 21px;
}
